@using Microsoft.AspNetCore.Identity
@inject SignInManager<ABUser> SignInManager
@inject UserManager<ABUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark offset-6">Logout</button>
        </form>
}
else
{
    }
</ul>
