@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-4">Pruple Book</h1>
            </div>
            <div class="col-lg-8 mx-auto text-center">
                <p class="display-4">The Simple Address Book</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-10 mx-auto"> </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
        }
        else
        {
            <div class="row">
                <div class="col-lg-4 mx-auto text-center">
                    <a class="font-weight-bold text-white-00" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            </div>
        }

</section>